/* src/components/hero.scss */

.hero {
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
  
    .hero-content {
      text-align: center;
  
      h1 {
        font-size: 3rem;
      }
  
      p {
        font-size: 1.5rem;
      }
    }
  }
  